.App {
  text-align: center;

}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: grayscale() brightness(0.25);
  background-image: url('./media/icons/superEarth.png');
  background-size: 62vh;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.whiteLine {
  background-color: var(--white);
  width: 100%;
  height: 6px;
}

.top {
  position: absolute;
  top: 5vh;
}

.bottom {
  position: absolute;
  bottom: 5vh;
}

.GameView {
  position: absolute;
  top: 10vh;
  color: var(--white)
}