:root {
  --yellow: #FF5053;
  --mainColor: #6A5FDB;
  --red: #6A5FDB;
  --white: #FEF2FF;
  --green: #B2AAFF;
  --blue: #6A5FDB;
  --gray: #261A66;
  --grayDark: #29114C;
  --background: #0F000A;

  --title: 15vh;
  --subtitle: 9vh;
  --score: 9vh;
  --info: 4.5vh;
  --tiny: 3vh;

  --bloom: 8px;
  --bloomBox: 0.4em;
  --crt: 4;

  --transition-font-size: 0.2s;
}

body {
  margin: 0;
  font-family: FS Sinclair, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--white);
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FS Sinclair';
  src: url('media/FS\ Sinclair\ Medium.otf') format('truetype');
}