:root {
  --yellow: yellow;
  --white: white;
  --background: #232029;
}

body {
  margin: 0;
  font-family: FS Sinclair, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FS Sinclair';
  src: url('media/FS\ Sinclair\ Medium.otf') format('truetype');
}