body {
    margin: 0;
    font-family: 'FS Sinclair', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

@font-face {
    font-family: 'FS Sinclair';
    src: url('FS Sinclair Medium.otf') format('truetype');
}

:root {
    --mainColor: yellow;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Game {
    width: 100vw;
    height: 100vh;
    background-color: #252627;
    margin: auto;
}

.BackgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: grayscale() brightness(0.25);
    background-image: url('./icons/superEarth.png');
    background-size: 62vh;
    background-repeat: no-repeat;
    background-position: center;
}

.UIWhiteLineTop {
    background-color: white;
    box-shadow: 0 0 0.15em white;
    height: 6px;
    width: 100%;
    margin-top: 5vh;
    position: absolute;
    top: 0;
}

.UIWhiteLineBottom {
    background-color: white;
    box-shadow: 0 0 0.15em white;
    height: 6px;
    width: 100%;
    margin-bottom: 5vh;
    position: absolute;
    bottom: 0;
}


.RoundCounterContainer {
    position: absolute;
    margin-left: 11vw;
    margin-top: 10vh;
    text-align: center;
}

.RoundCounter {
    font-size: 3em;
    margin-left: 10px;
    color: var(--mainColor);
    text-shadow: 0 0 0.15em var(--mainColor);
    margin: 0;
}

.Round {
    font-size: 1em;
    margin: 0;
    text-shadow: 0 0 0.15em white;

}

.ScoreCounterContainer {
    position: absolute;
    right: 10vw;
    margin-top: 10vh;
    text-align: right;
}

.ScoreCounter {
    font-size: 3em;
    color: var(--mainColor);
    text-shadow: 0 0 0.15em var(--mainColor);
    margin: 0;
}

.Score {
    font-size: 1em;
    margin-right: 10px;
    margin: 0;
    text-shadow: 0 0 0.15em white;
}

.GameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10vh;
    height: 60vh;
    width: 60vw;
    left: 20vw;
}

.StratagemContainer {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    filter: saturate(200%);
}

.StratagemNameContainer {
    font-size: 1.5em;
    background-color: var(--mainColor);
    box-shadow: 0 0 0.15em var(--mainColor);
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    text-align: center;

}

.StratagemName {
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #303132;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.ArrowKeysContainer {
    display: flex;
    align-items: center;
}


.MainStratagem {
    width: 12vw;
    border: 2px solid var(--mainColor);
    box-shadow: 0 0 0.15em var(--mainColor);
    padding: 15px;
    display: inline-block
}

.Stratagem {
    width: 7vw;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.ArrowKey {
    width: 5vw;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.white {
    filter: invert(1) brightness(2);
}

.yellow {
    filter: invert(100%) sepia(100%) saturate(10000%);
}

.red {
    filter: invert(100%) sepia(100%) hue-rotate(-60deg) saturate(1000);
}

.gray {
    filter: invert(1) brightness(0.7);
}

.ProgressBar {
    width: 100%;
    height: 5vh;
    background-color: grey;
    margin-top: 5vh;
}

.Progress {
    width: 50%;
    height: 5vh;
    background-color: var(--mainColor);
    box-shadow: 0 0 0.15em var(--mainColor);
}

.GameScreen {
    position: absolute;
    width: 100%;
    top: 10vh;
}

.StartScreen {
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    font-size: 5em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.05em white;
    margin: 0;
    position: absolute;
    top: 40vh;
}

.Info {
    font-size: 2.4em;
    font-weight: lighter;
    color: yellow;
    text-shadow: 0 0 0.05em yellow;
    margin: 0;
    position: absolute;
    top: 60vh;
}


.hidden {
    visibility: hidden;
}

.MidScoreScreen {
    color: white;
    text-shadow: 0 0 0.1em white;
}


.RoundBonusContainer {
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 80vw;
    display: flex;
    align-items: center;
}

.TimeBonusContainer {
    position: absolute;
    top: 35vh;
    left: 10vw;
    width: 80vw;
    display: flex;
    align-items: center;
}

.PerfectBonusContainer {
    position: absolute;
    top: 50vh;
    left: 10vw;
    width: 80vw;
    display: flex;
    align-items: center;
}

.TotalScoreContainer {
    position: absolute;
    top: 65vh;
    left: 10vw;
    width: 80vw;
    display: flex;
    align-items: center;
}

.ScoreScore {
    font-size: 3em;
    font-weight: lighter;
    position: absolute;
    text-shadow: 0 0 0.1em yellow;
    color: yellow;
    right: 10vw;
}

.MidPrepareScreen {
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.PrepareRoundTitle {
    position: absolute;
    font-size: 1.75em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
    top: 66vh;
}

.PrepareRoundCounter {
    position: absolute;
    font-size: 3em;
    font-weight: lighter;
    color: yellow;
    text-shadow: 0 0 0.1em yellow;
    margin: 0;
    top: 71vh;
}

.EndScreen {
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.high {
    top: 20vh
}

.FinalScoreTitle {
    position: absolute;
    font-size: 1.75em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
    top: 66vh;
}

.FinalScore {
    position: absolute;
    font-size: 3em;
    font-weight: lighter;
    color: yellow;
    text-shadow: 0 0 0.1em yellow;
    margin: 0;
    top: 71vh;
}

.NameEnterContainer {
    position: absolute;
    top: 46vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.NameEnterTitle {
    position: absolute;
    top: -10vh;
    font-size: 2em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
}

.NameEnter {
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
    top: 5vh;
}

.selected {
    text-decoration: underline;
}

.submited {
    color: yellow;
    text-shadow: 0 0 0.1em yellow;
}

.ScoreBoardContainer {
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ScoreBoardTitle {
    position: absolute;
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
    top: 35vh;
}

.ScoreBoard {
    position: absolute;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.1em white;
    margin: 0;
}

.first {
    top: 44vh;
}

.second {
    top: 50vh;
}

.third {
    top: 56vh;
}

.easterEgg {
    color: yellow !important;
    text-shadow: 0 0 0.1em yellow !important;
}
