body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.Game {
    width: 100vw;
    height: 100vh;
    background-color: #303132;
    margin: auto;
}


.UIWhiteLine {
    background-color: white;
    height: 6px;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.Blur {
    backdrop-filter: blur(1px);
    backdrop-filter: saturate(100%);
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 0.15em #1da9cc;
}

.RoundCounterContainer {
    text-shadow: 0 0 0.15em #1da9cc;
    float: left;
    margin-left: 10vw;
}

.RoundCounter {
    font-size: 1.4em;
    margin-left: 10px;
    color: #dcd619;
    margin: 0;
}

.Round {
    font-size: 0.6em;
    margin: 0;

}

.ScoreCounterContainer {
    text-shadow: 0 0 0.15em #1da9cc;
    float: right;
    margin-right: 10vw;
    margin-top: 5vh;
}

.ScoreCounter {
    font-size: 1.5em;
    margin-right: 10px;
    color: #dcd619;
    margin: 0;
}

.Score {
    font-size: 0.7em;
    margin-right: 10px;
    margin: 0;
}

.GameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60vw;
    margin-left: 20vw;
}

.StratagemContainer {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.StratagemNameContainer {
    font-size: 1.5em;
    background-color: #dcd619;
    color: #303132;
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    text-align: center;

}

.ArrowKeysContainer {
    background-color: red;
    margin-left: 20vw;
}

.TimerContainer {
    background-color: red;
    margin-left: 20vw;
}

.MainStratagem {
    width: 12vw;
    border: 2px solid yellow;
    padding: 15px;
    display: inline-block
}

.Stratagem {
    width: 7.5vw;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}