body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.Game {
    width: 100vw;
    height: 100vh;
    background-color: #303132;
    margin: auto;
}


.UIWhiteLine {
    background-color: white;
    box-shadow: 0 0 0.15em white;
    height: 6px;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.Blur {
    backdrop-filter: blur(1px);
    backdrop-filter: saturate(100%);
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 0.15em #1da9cc;
}

.RoundCounterContainer {
    text-shadow: 0 0 0.15em #1da9cc;
    float: left;
    margin-left: 11vw;
    margin-top: 11vh;
    text-align: center;
}

.RoundCounter {
    font-size: 2em;
    margin-left: 10px;
    color: #dcd619;
    text-shadow: 0 0 0.15em yellow;
    margin: 0;
}

.Round {
    font-size: 1em;
    margin: 0;
    text-shadow: 0 0 0.15em white;

}

.ScoreCounterContainer {

    float: right;
    margin-right: 5vw;
    margin-top: 15vh;
    text-align: right;
}

.ScoreCounter {
    font-size: 2em;
    color: #dcd619;
    text-shadow: 0 0 0.15em yellow;
    margin: 0;
}

.Score {
    font-size: 1em;
    margin-right: 10px;
    margin: 0;
    text-shadow: 0 0 0.15em white;
}

.GameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60vw;
    margin-left: 20vw;
}

.StratagemContainer {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    filter: saturate(200%);
}

.StratagemNameContainer {
    font-size: 1.5em;
    background-color: yellow;
    box-shadow: 0 0 0.15em yellow;
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    text-align: center;

}

.StratagemName {
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #303132;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.ArrowKeysContainer {
    display: flex;
    align-items: center;
}


.MainStratagem {
    width: 12vw;
    border: 2px solid yellow;
    box-shadow: 0 0 0.15em yellow;
    padding: 15px;
    display: inline-block
}

.Stratagem {
    width: 7vw;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.ArrowKey {
    width: 5vw;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.white {
    filter: invert(1) brightness(2);
}

.yellow {
    filter: invert(100%) sepia(100%) saturate(10000%);
}

.red {
    filter: invert(100%) sepia(100%) hue-rotate(-60deg) saturate(1000);
}

.gray {
    filter: invert(1) brightness(0.7);
}

.right {
    transform: rotate(0deg);
}

.down {
    transform: rotate(90deg);
}

.left {
    transform: rotate(180deg);
}

.up {
    transform: rotate(270deg);
}

.ProgressBar {
    width: 100%;
    height: 5vh;
    background-color: grey;
    margin-top: 5vh;
}

.Progress {
    width: 50%;
    height: 5vh;
    background-color: yellow;
    box-shadow: 0 0 0.15em yellow;
}