.ArrowContainer {
  display: flex;
  align-items: center;
}

.ArrowContainerArrow {
  height: 10vh;
}

.ArrowContainerGray {
  filter: invert(1) brightness(0.7);
}

.ArrowContainerYellow {
  filter: brightness(0) saturate(100%) invert(44%) sepia(59%) saturate(1789%) hue-rotate(325deg) brightness(101%) contrast(116%);

}

.ArrowContainerRed {
  filter: invert(100%) sepia(100%) hue-rotate(-60deg) saturate(1000);
}