.ExitArrow {
    justify-content: center;
    display: flex;
}

.ExitArrowContainer {
    display: flex;
    align-items: center;
}

.ExitArrow {
    height: 10vh;
}

.ExitArrowBig {
    height: 13vh;
}

.ExitArrowYellow {
    filter: brightness(0) saturate(100%) invert(44%) sepia(59%) saturate(1789%) hue-rotate(325deg) brightness(101%) contrast(116%);

}

.ExitArrowGray {
    filter: invert(1) brightness(0.4);
}

.ExitArrowWhite {
    filter: invert(1) brightness(0.7);
}

.ExitArrowDarkGray {
    filter: invert(1) brightness(0.2);
}