.MultipleArrowSubscriber {
    display: flex;
    align-items: center;
    height: 100%;
}

.MultipleArrowSubscriberGray {
    filter: invert(1) brightness(0.7);
}

.MultipleArrowSubscriberYellow {
    filter: brightness(0) saturate(100%) invert(44%) sepia(59%) saturate(1789%) hue-rotate(325deg) brightness(101%) contrast(116%);

}

.MultipleArrowSubscriberDarkGray {
    filter: invert(1) brightness(0.3);
}

.MultipleArrowSubscriberArrow {
    height: 100%;
}

.MultipleArrowSubscriberDiv {
    height: 100%;
}